.swiper-container {
  min-height: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #08335B;
  gap: 4rem;
  padding: 0 1rem;
}

.swiper {
  max-width: 1020px;
  padding-bottom: 5rem !important;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  background-color: rgba(black, black, black, 1);
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -6rem !important;
  margin-bottom: 0 !important;
  /* object-fit: cover; */
}

.swiper-content {
  margin: 30px auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  max-width: 420px;
}

.swiper-content h2 {
  margin: 0 0 0 0 !important;
  font-size: 20px;
  line-height: normal;
}

.swiper-content p {
  font-size: small;
  margin: 0 0 2rem 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important; 
}

.swiper-pagination-bullet {
  width: 40px !important;
  border-radius: 2px !important;
  height: 4px !important;
  background-color: #ffffff99 !important;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.swiper-title {
  font-size: 50px;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.swiper-subtitle {
  font-size: 24px;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 800px) {

  .swiper-content {
    margin: 30px auto;
  }

  .swiper-title {
    font-size: 32px;
  }

  .swiper-subtitle {
    font-size: 18px;
    /* margin-bottom: 1rem; */
  }

  .swiper-header {
    gap: 0.5rem;
  }

  .swiper-container {
    gap: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .swiper-content h2 {
    font-size: 18px;
  }
}
